
/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8b895;
}

/* Create your own classes below! */

.nav-bar {
    padding: 15px;
    background-color: #95b8b8;

}

nav  li {
    align-items: flex-start;
    float: left;
    margin: -12px 20px 10px;

}

.solid-border {
    padding: 20px;
    width: 400px;
    border: 1px solid #ff7faa;
    border-radius: 20px;
    text-align: justify;
}

.text-box-background {
    background-color: #b89595;
}

.container-1{
    display: flex;
    align-items: stretch;
    justify-content: space-around;   
}

.coffee {
    width: 400px;
    object-fit: contain;
}

.container-2{
    display: flex;
    flex-direction: column;
}

.panel-1{
    height: 100vh;
    width: 100%;
    background-color: #95b8b8;
}

.panel-2{
    height: 100vh;
    width: 100%;
    background-color: #9595b8;
}

.panel-3{
    height: 100vh;
    width: 100%;
}

.tile{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/coffee.jpg");
}

.actual-size{
    background-image: url("../images/coffee.jpg");
    height: 426px;
    width: 640px;
}

.big-picture{
    background-image: url("../images/coffee.jpg");
    height: 100%;
    width: 100%;
}